.agenda-head-container {
    background-color: #202124;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.agenda-head-container h1 {
    margin: 0rem;
    padding: 0rem;
    font-weight: 700;
    font-size: 3.5rem;
    color: #bd0168;
    margin-top: 3.5rem;
}

.agenda-head-container h6 {
    margin: 0rem;
    padding: 0rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    padding-top: 1rem;
}

@media screen and (max-width: 800px) {
    .agenda-head-container {
        padding-left: 3rem;
    }

    .agenda-head-container img {
        display: none;
    }

    .agenda-head-container h1 {
        margin-top: 0rem;
    }
}