@font-face {
    font-family: 'Open Sans';
    src: url('../../../fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../fonts/OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Bebas Neue';
    src: url('../../../fonts/BebasNeue-Regular.ttf');
}

.exciting-expo-container {
    background-color: #202124;
    padding-top: 6rem;
    display: block;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-container {
    position: static;
    padding: 2rem;
}

.image-container img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
}

.details-text-container {
    padding-left: 12rem;
    padding-top: 10rem;
}

.details-text-container h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

.details-text-container h1 span {
    color: #BD0168
}

.details-text-container h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: white;
}

.details-container-two {
    padding: 2rem;
    padding-left: 12rem;
}

.details-container-two h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: white;
}

.details-container-two span {
    color: #2196fc
}

.details-container-two button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #4285F4;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.2rem;
}


.details-container-two img {
    height: 30rem;
}

.image-container-two {
    padding: 2rem;
}

.image-container-two img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 25rem;
}

@media screen and (max-width: 800px) {
    .exciting-expo-container, .image-container, .container-2020, .details-text-container {
        position: static;
    }

    .exciting-expo-container {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .image-container img {
        margin: 0rem;
        padding: 0rem;
        width: 100%;
        float: none;
    }

    .details-text-container {
        padding: 2rem;
        margin: 0rem;
    }

    .details-text-container h1 {
        font-size: 2rem
    }

    .details-text-container h3   {
        font-size: 1.2rem;
    }

    .details-container-two {
        padding: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .details-container-two h1 {
        margin-left: 2rem;
        margin-right: 1.3rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .image-container-two {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-container-two img {
        width: 100%;
        height: auto;
    }
}